/* line 1, ../../src/scss/demo.scss */
.demo {
  margin-bottom: 40px;
  clear: both;
}

/* line 5, ../../src/scss/demo.scss */
.example {
  clear: both;
}

/* line 8, ../../src/scss/demo.scss */
.white {
  color: white;
}

/* line 11, ../../src/scss/demo.scss */
.cushioned {
  padding: 12%;
}
